In [8]:
from check.check import test

<h1>Базовые типы и конструкции</h1>
<h2>1. Базовые типы: численные типы</h2>

<p>Переменные в Python-е бывают разных типов. Например, тип int используется для целых чисел.</p>

In [ ]:
num = 13
print(type(num))

<h3>Функция type() из этого примера возвращает тип переменной.</h3>
Python умеет работать с числами с плавающей точкой. Такие переменные имеют тип float, целая и дробная части отделяются точкой. Также Python поддерживает экспонен- циальную нотацию записи вещественного числа.

In [ ]:
num = 13.4 
print(num)

num = 1.5*3

print(num)
print(type(num))

In [ ]:
num = int(num)
print(num, type(num))

num = float(num)
print(num, type(num))

<h4>Обратите внимание, что в процессе конвертации переменной num мы потеряли дроб- ную часть вещественного числа.</h4>
Python умеет работать с комплексными числами:

num = 14 + 1j
print(type(num)) 
print(num.real) 
print(num.imag)

<h2>1. Упражнения на числа</h2>

1.1 Поменяйте значения переменных pizza, ark, dest так что бы:
  - **ark** было целое число.
  - **pizza** число с плавающей точкой
  - **dest**  сумма ark + pizza, и иметь тип **int**.

In [ ]:
pizza = None
ark = None
dest = None


test('1.1',pizza,ark,dest)

<h2>2. Базовые типы: логический тип</h2>
<p>В Python существует логический тип bool. Переменные этого типа могут принимать зна- чение либо True, либо False. Логические типы нужны тогда, когда необходимо проверить на истинность некоторое выражение.</p>

In [ ]:
print(3 > 4)
print(3 <= 3)
print(6 >= 6)
print(6 < 5)
print(6 == 6)        # !! Обратите внимание на то что два знака равно (==) это операция сравнения
print(6 != 6)        # !! Обратите внимание что ! перед равно, это приставке НЕ. Пример: 1 != 2, один НЕ равно 2. ? что вернет данное выражение?

<h2>2. Упражнения на логический тип</h2>

2.1 Замените **_** на один из знаков:
   - \>  больше
   - <  меньше
   - ==  равно
   - !=  не равно

Так что бы:
   - l_result_1 == True
   - l_result_2 == False
   - l_result_3 == True
   - l_result_4 == False
   
Пример:  *l_result_test == True*: 
l_result_test должен равнятся True. для этого я заменю _ на >

num1 = 13

num2 = 12

l_result_test = (num1 > num2)

In [ ]:
num1 = 122
num2 = 12

l_result_1 = (num1 _ num2)

num1 = 1.3
num2 = 15

l_result_2 =  (num1 _ num2)

num1 = 15
num2 = 15

l_result_3 =  (num1 _ num2)

num1 = 15
num2 = 15

l_result_4 =  (num1 _ num2)

test('2.1', l_result_1, l_result_2, l_result_3, l_result_4)

<h1>3. Базовые типы: строки и байтовые строки</h1>
Строка – это неизменяемая последовательность юникодных символов.

In [2]:
example_string = "Курс про Python Ekids" 
print(example_string)

Курс про Python Ekids

In [3]:
print(type(example_string))

<class 'str'>

**Как объединить 2 строки в одну?**

In [4]:
"Можно" + " просто " + "складывать" + " строки"

'Можно просто складывать строки'

<img src="https://media.giphy.com/media/5i7umUqAOYYEw/giphy.gif">

**Важно помнить, что строки --- неизменяемый тип.**

Срезы строк *(\<string>\[**начало**:**конец**:**шаг**\])* удобны для того, чтобы из строки выре- зать какую-то подстроку. 

Синтаксис срезов посмотрим на примере:

In [5]:
example_string = "Курс про Python Ekids" 
example_string[9:15]

'Python'

Оператор **in** позволяет проверить наличие подстроки в строке:

In [6]:
"3.14" in "Число Пи = 3.1415926"

True

Выражение **for .. in** позволяет итерироваться по строке:

In [7]:
example_string = "Привет"
for letter in example_string:
    print("Буква", letter)

Буква П
Буква р
Буква и
Буква в
Буква е
Буква т


**К строкам можно применить конвертацию типов.**

Например, мы можем преобразовать вещественное число в переменную типа str:

In [9]:
num = 999.01 
num_string = str(num)
print(type(num_string)) 
num_string

<class 'str'>

'999.01'

**Если мы попробуем преобразовать непустую строку к логическому типу, получим True.**

**Пустая же строка (не содержащая ни одного символа) при конвертации в логический тип возвращает False.**

In [11]:
a = "Alo"
a = bool(a)

print(type(a)) 
a

<class 'bool'>

True